altair==5.5.0
astroid==3.3.9
attrs==25.3.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
dill==0.3.9
gitdb==4.0.12
GitPython==3.1.44
streamlit
idna==3.10
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
mccabe==0.7.0
mypy==1.15.0
mypy-extensions==1.0.0
narwhals==1.30.0
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pandas-stubs==2.2.3.241126
patsy==1.0.1
pillow==11.1.0
platformdirs==4.3.7
plotly==6.0.1
plotly-express==0.4.1
pluggy==1.5.0
protobuf==5.29.3
pyarrow==19.0.1
pydeck==0.9.1
pylint==3.3.6
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.23.1
scipy==1.15.2
six==1.17.0
smmap==5.0.2
statsmodels==0.14.4
streamlit==1.44.1
tenacity==9.0.0
toml==0.10.2
tomlkit==0.13.2
tornado==6.4.2
types-pytz==2025.1.0.20250204
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
watchdog==6.0.0
